:root{
    --size-texto: 2rem;
    --font-family-cursive:'Pacifico', cursive;
    --margin-separate: 3rem;
    --border:0.3rem solid black;
    --margin-left:1rem;
    --margin-right:40rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    width: 99.9%;
    border: var(--border);
    margin:0.1rem
}

h1{
    font-size: 6rem;
    display: block;
    color: forestgreen;
    margin: var(--margin-separate) 0rem;
    border: var(--border);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}

p{
    display: block;
    text-align: justify;
    font-size: var(--size-texto);
    margin-bottom: var(--margin-separate);
    border: var(--border);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}

.spanRedNegrilla{
    font-weight: bold;
    color: red;
    border: var(--border);
}

.spanRedUnderline{
    color: red;
    text-decoration: underline;
    border: var(--border);
}

.spanBlueUnderlineRed{
    color: blue;
    font-style: italic;
    border: var(--border);
}

.spanPurple{
    color: purple;
    border: var(--border);
}

h2{
    font-size: 4rem;
    color: blue;
    display: block;
    margin-bottom: var(--margin-separate);
    border: var(--border);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}

h3{
    font-size: var(--size-texto);
    text-align: center;
    color: blue;
    border: var(--border);
}

.sectionTable{
    display: inline-block;
}

table,th{
    border-collapse: collapse;
    border: 1px solid black;
}

.parrafos{
    border: var(--border);
    display:block;
}

th{
    font-size: var(--size-texto);
    padding: 0.5rem;
}

.spanTable1{
    font-style: italic;
    border: var(--border);
}

.textOrange,.spanTable2{
    color:orange
}

.spanTable2{
    border: var(--border);
}

.textGreen{
    color: green;
}

.textRed{
    color: red;
}

.parrafo{
    color:rgb(166, 187, 62);
}

.uno{
    margin-top: var(--margin-separate);
}

.uno span{
    border: var(--border);
}

.dos span{
    color:fuchsia;
    border: var(--border);
}

.tres span{
    color: green;
    border: var(--border);
}